@model IEnumerable<klaas.products.Productwaarde>
@{
    Layout = "";
 }
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="@Url.Content("~/css/interactiveimage.css")" rel="stylesheet" type="text/css" />



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Webshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Mainpage", "Home")">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="@Url.Action("Create", "Products")">Maak product soort aan</a>
          <a class="dropdown-item" href="@Url.Action("Create2", "Products")">Voeg product toe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="@Url.Action("Statistics", "Chart")">Site Statistieken</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>  
<br>

<h2>Boten</h2>


<!-- Interactive Image         -->
<div id="hallo" >
  <div class='circle-container container'>

      <a href='#' class='center' id='test'><img src='~/images/boat.png'></a>
    <div>
      
      <a href='#' class='category' id='deg0'></a>
    </div>
    <div>
      <a href='#' class='category' id='deg36'></a>
    </div>
    <div id="cssSelectorBottom1" class="cssSelector">
      <a href='#' class='category' id='deg72'></a>
    </div>
    <div id="cssSelectorBottom2" class="cssSelector">
      <a href='#' class='category' id='deg108'></a>
    </div>
    <div>
      <a href='#' class='category' id='deg144'></a>
    </div>
    <div>
      <a href='#' class='category' id='deg180'></a>
    </div>
    <div>
      <a href='#' class='category' id='deg216'></a>
    </div>
    <div>
      <a href='#' class='category' id='deg252'></a>
    </div>
    <div>
      <a href='#' class='category' id='deg288'></a>
    </div>
    <div>
      <a href='#' class='category' id='deg324'></a>
    </div>
  </div>
</div>
       
        

<h4>Products</h4>
@{var i = 1;
}

<div class="row" >
@foreach (var item in Model)
        {
                if ((i%2)!=0){ 
                    
                        <div class="col">
                        <div class="card" style="width: 25rem;">
                            <div class="card-body">
                              <form asp-action="Mainpage">
                                <div id="container" class="form-group">
                                <h5 class="card-title" >@item.Title</h5>
                                <p class="card-text" >$ @item.Price</p>
                                <input type="hidden" name = "hi" value =  '@item.Title' />
                                <input type="submit" class="btn btn-primary" value="Buy"  >
                                </div>
                             </form>             
                            </div>
                        </div>
                    </div>
                
                }
                else{
                    <div class="col">
                        <div class="card" style="width: 25rem;">
                            <div class="card-body">
                               <form asp-action="Mainpage">
                                <div id="container" class="form-group">
                                <h5 class="card-title" >@item.Title</h5>
                                <p class="card-text" >$ @item.Price</p>
                                <input type="hidden" name = "hi" value =  '@item.Title' />
                                <input type="submit" class="btn btn-primary" value="Buy"  >
                                </div>
                             </form> 
                            </div>
                        </div>
                    </div>
                     <div class="w-100"></div>
                    <br>
                }
            i++;
        }
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
<script src="~/js/interactiveimage.js"></script>

         
